[Unit]
Description=Lock the screen with i3lock
Before=sleep.target

[Service]
User=dcorral
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lockmore --image-fill /home/dcorral/Pictures/wallpaper.png -u --pointer=win

[Install]
WantedBy=suspend.target
